h1{
    text-align: center;
}

body{
    background-color: grey;
}

.content{
    background-color: white;
    margin: 16px auto;
    padding: 16px;
    box-shadow: 0px 0px 4px black;
    border-radius: 4px;
    width: 600px;
}
h2{
    text-align: center;
}
table{
    border-collapse: collapse; 
}

th{
    width: 100px;
}
/*Just for consistency sake, I don't like seeing the chart unevenly spread*/
tr{ 
    height: 40px;
}
/**/
td,th{
    border-bottom: thin solid #CCCCCC;
}
.event{
    color: white;
    border-radius: 6px;
}
ul{
    list-style: square;
}
img{
    height: 140px;
    width: 140px;
}
#avaneesh{
    background-color: red;
}
#david{
    background-color: orange;
}
#lianghi{
    background-color: darkkhaki;
}
#zachary{
    background-color: green;
}
#rohan{
    background-color: blue;
}
#katelyn{
    background-color: purple;
}
#matthew{
    background-color: violet;
}
p{
    text-align: center;
}
