/***************************
******* GENERAL CSS ********
***************************/

/* background color of eee*/
body{
    background-color:#eee;
}

/* 
background color of #49516f
flexbox layout
items aligned to center
padding of 20px on top and bottom
*/
header{
    background-color: #49516f;
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

/*
margin of 0px on all sides
text color of white
*/
header h1{
    margin: 0px;
    color: white;
}

/*
margin of 0px on all sides
text color of white
*/
header span{
    margin:0px;
    color: white;
}

/*
padding of 5px on all sides
margin of 10px on all sides
height and width of 100px
border of 5px, solid type and white color
*/
.logo{
    padding: 5px;
    margin: 10px;
    height: 100px;
    width: 100px;
    border: 5px solid white;
}

/*
must have a flexbox layout
flex elements must wrap into multiple lines
*/
.posts{
    flex: auto;
    display: flex;
    flex-wrap: wrap;
}

/*
must automatically grow to flex parent
*/
.post{
    flex-grow: inherit;
}

/*
height of 200px
*/
.post-body{
    height: 200px;
}

/*
Margin of 10px on all sides
Padding of 10px on all sides
White background color
Must have a flexbox layout
Have items aligned to center
*/
.post-container{
    margin: 10px;
    padding: 10px;
    background-color: white;
    display: flex;
    align-items: center;
}

/*
height and width of 200px
right margin of 10px
*/
.post-pic{
    height: 200px;
    width: 200px;
    margin-right: 10px;
}

/***************************
******* DESKTOP CSS ********
***************************/

@media only screen and (min-width: 999px) {
    /*
    direction of flexbox to column
    align the items of the flexbox to center
    */
    .posts{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    /*
    set the max width to be 800px
    set the element to automatically flex to its parent
    */
    .post{
        max-width: 800px;
        flex: inherit;
    }
}

/***************************
******** TABLET CSS ********
***************************/

@media only screen and (min-width: 400px) and (max-width: 998px) {
    /*
    justify the content of the flexbox to center
    */
    header{
        justify-content: center;
    }

    /*
    direction of flexbox to row
    flexbox must wrap elements
    */
    .posts{
        flex-direction: row;
        flex-wrap: wrap;
    }

    /*
    have the flex direction to a column
    */
    .post-container{
        flex-direction: column;
    }

    /*
    have the element flex to 50% of the parent
    */
    .post{
        flex: 50%;
    }
    
    /*
    width of 100%
    height is auto
    */
    .post-pic{
        width: 100%;
        height: auto;
    }
}

/***************************
******** MOBILE CSS ********
***************************/

@media only screen and (max-width: 399px) {
    /*
    have the flex direction to a column
    align text to the center
    */
    header{
        flex-direction: column;
        text-align: center;
    }

    /*
    have the border radius be 50%
    */
    .logo{
        border-radius: 50%;
    }

    /*
    must have an automatic flex basis
    have the flex direction to a column
    */
    .posts{
        flex-basis: auto;
        flex-direction: column;
    }

    /*
    have the flex direction switch to a column
    */
    .post-container{
        flex-direction: column;
    }
    
    /*
    width of 100%
    height is auto
    */
    .post-pic{
        width: 100%;
        height: auto;
    }
}
